.container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.nameGroup {
  height: 35rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
  background-clip: text; /* This is the key property for applying gradient to text */
  color: transparent;
  background-image: linear-gradient(to left, #00b37d, #00a18c, #00ffe5d7);
}
.name h1 {
  font-weight: 700;
  font-size: 5rem;
  margin: 2rem 0 0 0;
}
.name span {
  font-size: 1.5rem;
}
