.container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.nameGroup {
  height: 35rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
  background-clip: text; /* This is the key property for applying gradient to text */
  color: transparent;
  background-image: linear-gradient(to left, #00b37d, #00a18c, #00ffe5d7);
}
.name h1 {
  font-weight: 700;
  font-size: 5rem;
  margin: 2rem 0 0 0;
}
.name span {
  font-size: 1.5rem;
}
.navbar {
  position: absolute;
  right: 0;
  display: flex;
  gap: 4rem;
  font-size: 1rem;
  font-weight: 400;
  padding: 1rem;
}
.navbar span {
  color: #00a18c;
  z-index: 1;
  cursor: pointer;
}

.navbar span:hover {
  color: #00ffe5d7;
}
