.container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh;
}
.nameGroup {
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  flex-direction: column;
  background-clip: text; /* This is the key property for applying gradient to text */
  color: transparent;
  background-image: linear-gradient(to left, #00b37d, #00b395, #00a18c, #00ffe5d7);
  -webkit-background-clip: text; /* For Chrome */
}
.name {
  margin-bottom: 1rem;
}
.name h1 {
  font-weight: 700;
  margin: 2rem 0 0 0;
}
.name span {
  font-size: 1.5rem;
}
.navbar {
  position: absolute;
  right: 0;
  display: flex;
  font-weight: 400;
  padding: 1rem;
  margin-right: 2rem;
  z-index: 2;
  white-space: nowrap;
  gap: 4em;
}

/* Mobile screens */
@media screen and (min-width: 300px) {
  .navbar {
    gap: 1.5em;
    font-size: 1em;
  }
  .name h1 {
    font-size: 2em;
  }
}
/* HD PC screens */
@media screen and (min-width: 1080px) {
  .navbar {
    gap: 5em; /* Adjust the value for larger screens */
    font-size: 1.2em;
  }
  .name h1 {
    font-size: 4em;
  }
}
/* Larger screens (e.g., Full HD) */
@media screen and (min-width: 2000px) {
  .navbar {
    gap: 5em; /* Adjust the value for larger screens */
    font-size: 1.5em;
  }
  .name h1 {
    font-size: 6em;
  }
}
.navbar span {
  color: #00ffe5d7;
  z-index: 1;
  cursor: pointer;
}

.navbar span:hover {
  color: #00ffe5d7;
  text-decoration: underline;
}
.navbar a:link {
  color: #00ffe5d7;
  z-index: 1;
  cursor: pointer;
  text-decoration: none;
}

.navbar a:visited {
  color: #00ffe5d7;
}
.navbar a:active {
  color: #00ffe5d7;
}
.navbar a:hover {
  color: #00ffe5d7;
  text-decoration: underline;
}
