.container {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #13484b;
  color: #00efcf;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}
.message {
  display: flex;
}
.bug {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Mobile screens */
@media screen and (min-width: 300px) {
  .container {
    font-size: 2em;
  }
}
/* HD PC screens */
@media screen and (min-width: 1080px) {
  .container {
    font-size: 4em;
  }
}
/* Larger screens (e.g., Full HD) */
@media screen and (min-width: 2000px) {
  .container {
    font-size: 4em;
  }
}
