.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}
.container header {
  width: 90%;
}
.videoContainer {
  margin-top: 1rem;
}
.projectTitle {
  display: flex;
  justify-content: center;
  width: 100%;
}
.projectTitle span {
  font-size: 2rem;
  color: #00ffe5d7;
}
.projectTitle a:link {
  background-color: transparent;
  border: #00ffe5d7 solid 1px;
  cursor: pointer;
  color: #00ffe5d7;
  border-radius: 10px;
  text-decoration: none;
  padding: 0.2rem 0.6rem;
  width: min-content;
}
.projectTitle a:visited {
  color: #00ffe597;
  border: #00ffe597 solid 1px;
}
.projectTitle a:hover {
  color: #00ccb1;
  border: #00ccb1 solid 1px;
}
.projectTitle a:active {
  color: #00ffe597;
  border: #00ffe597 solid 1px;
}
.description {
  width: 80%;
  line-height: 1.2rem;
  color: #00ccb1;
  font-size: 16px;
  margin-top: 1.5em;
}
.header {
  margin-bottom: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Mobile screens */
@media screen and (min-width: 300px) {
  .projectTitle {
    gap: 1em;
  }
  .projectTitle a {
    white-space: nowrap;
    margin: 0.5em 0;
  }
  .videoContainer iframe {
    width: 100%;
  }
  .description p {
    width: 30em;
    line-height: 1.5em;
    width: 100%;
  }
}
/* HD PC screens */
@media screen and (min-width: 700px) {
  .projectTitle {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .projectTitle a {
    margin-left: 2rem;
  }
  .videoContainer {
    margin: 0 2rem;
  }
  .videoContainer iframe {
    width: 320px;
    height: 200px;
  }
  .description p {
    width: 30em;
    line-height: 1.5em;
  }
  .header sub {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
/* Larger screens (e.g., Full HD) */
@media screen and (min-width: 2000px) {
  .videoContainer iframe {
    width: 320px;
    height: 200px;
  }
  .description p {
    width: 30em;
    line-height: 1.5em;
  }
  .projectTitle a {
    margin-left: 2rem;
    font-size: 0.8em;
  }
}
