.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: hsl(172, 100%, 40%);
}
.videoContainer {
  margin: 0 2rem;
}
.description p {
  min-width: 24rem;
  max-width: 35rem;
  border-radius: 10px;
  text-indent: 2em;
}
.description sub {
  font-size: 1.5rem;
  width: min-content;
}
.projectTitle {
  color: #00ffe5d7;
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
}
.secondaryBody {
  width: 100%;
  padding: 1rem;
  text-indent: 2em;
}

/* 
#13484b blue
#00a18c lighter blue
#00b37d neon green
*/
