.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #00ccb1;
  margin-top: 4rem;
  z-index: 1;
}
.videoContainer {
  margin: 0 2rem;
}
.description p {
  min-width: 24rem;
  max-width: 35rem;
  border-radius: 10px;
  text-indent: 1em;
  line-height: 1.3rem;
}
.description sub {
  font-size: 1.5rem;
  width: min-content;
}
.projectTitle {
  color: #00ffe5d7;
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}
.projectTitle a:link {
  background-color: transparent;
  border: #00ffe5d7 solid 1px;
  cursor: pointer;
  color: #00ffe5d7;
  border-radius: 10px;
  text-decoration: none;
  font-size: 0.8rem;
  padding: 0.2rem 0.6rem;
  margin-left: 2rem;
}
.projectTitle a:visited {
  color: #00ffe597;
  border: #00ffe597 solid 1px;
}
.projectTitle a:hover {
  color: #00ccb1;
  border: #00ccb1 solid 1px;
}
.projectTitle a:active {
  color: #00ffe597;
  border: #00ffe597 solid 1px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
}
.secondaryBody {
  line-height: 1.3rem;
  width: 100%;
  padding: 1rem;
  text-indent: 2em;
}

/* 
#13484b blue
#00a18c lighter blue // lighter blue #00ccb1
#00b37d neon green
*/
