.skillIcons {
  color: #00efcf;
  display: flex;
  align-items: center;
  z-index: 1;
}
/* css for greeting card */
.bigFont {
  width: 100%;
  justify-content: space-evenly;
}
/* css for all projects */
.smallFont {
  width: 70%;
  gap: 1em;
}
/* Mobile screens */
@media screen and (min-width: 300px) {
  .skillIcons {
    gap: 5px;
  }
  .bigFont {
    font-size: 1.5em;
  }
  .smallFont {
    font-size: 1.5em;
  }
  .descBigFont {
    font-size: 1rem;
    transform: translateX(-1.8em) translateY(2em);
  }
  .descSmallFont {
    font-size: 0.6rem;
    transform: translateX(-3em) translateY(3em);
  }
}
/* HD PC screens */
@media screen and (min-width: 700px) {
  .bigFont {
    font-size: 2.2em;
  }
  .smallFont {
    font-size: 1.5em;
  }
  .descBigFont {
    font-size: 1rem;
    font-weight: 800;
    transform: translateX(-2em) translateY(2.2em);
  }
  .descSmallFont {
    font-size: 0.6em;
    transform: translateX(-2em) translateY(2.2em);
  }
}
/* Larger screens (e.g., Full HD) */
@media screen and (min-width: 2000px) {
  .bigFont {
    font-size: 3em;
  }
  .smallFont {
    font-size: 2em;
  }
}
.icon:hover {
  color: #00ffe5d7;
}
.iconDesc {
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease-in;
  cursor: default;
  width: fit-content;
  color: #00ffe5d7;
}

.descSmallFont {
  margin-left: 0.5rem;
}
.activeIconDesc {
  opacity: 1;
}
