.skillIcons {
  color: #00a18c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.bigFont {
  font-size: 2.2rem !important;
}
.smallFont {
  font-size: 1.5rem !important;
  width: 70%;
}
.icon:hover {
  color: #00ffe5d7;
}
.iconDesc {
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease-in;
  cursor: default;
  width: fit-content;
  color: #00ffe5d7;
}
.descBigFont {
  font-size: 1rem;
  transform: translateX(-2rem) translateY(2.2rem);
}
.descSmallFont {
  font-size: 0.6rem;
  margin-left: 0.5rem;
  transform: translateX(-2rem) translateY(1.5rem);
}
.activeIconDesc {
  opacity: 1;
}
