.skillIcons {
  color: #00a18c;
  font-size: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 1rem;
}
.icon:hover {
  color: #00ffe5d7;
}
.iconDesc {
  position: absolute;
  opacity: 0;
  transform: translateX(2rem) translateY(2rem);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  font-size: 1rem;
  cursor: default;
  width: fit-content;

  color: #00ffe5d7;
}
.activeIconDesc {
  opacity: 1;
  transform: translateX(-2rem) translateY(2rem);
}

.railsIcon {
  font-size: 5rem;
}
.railsIconDesc {
  position: absolute;
  opacity: 0;
  transform: translateX(2rem) translateY(3rem);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  font-size: 1rem;
  cursor: default;
  width: fit-content;
  color: #00ffe5d7;
}
.activeRailsIconDesc {
  opacity: 1;
  transform: translateX(-4rem) translateY(3rem);
}
